 h1{
 background-color: rgb(231, 0, 0);
    color: white;
    text-align: center;
    padding: 2%;
    font-family: 'Poppins',sans-serif; 
    font-weight: 800;
    border-radius: 100px;
    font-size: 60px;
}

body, html{
    background-color: black;
     cursor: url("../images/CursorIcon4.png") 102 102, pointer;
     overflow-y: hidden;
}
.dropdown a, .dropdown,.dropdown a:hover,.dropdown.show, .Nav, .nav-button, .nav-button:hover
, .nav-button:hover, .navigation, .navigation:hover,.TTClogo {
cursor: url("../images/CursorClick.png") 102 102, pointer;
}



.navigation{
  position: relative;
  display: inline-block;
  position: fixed; 
  bottom: 78%; 
  left: 85%; 
  z-index: 1; 

}
.nav-button{
  background: none; 
  border: none;
  cursor: pointer; 
  padding: 20px; 
  display: flex; 
  align-items:center; 
  justify-content: center; 
}
.dropdown{
  opacity: 0; 
  visibility: hidden; 
  position: absolute; 
  top: 55%; 
  left: 25%; 
  background: rgb(255, 207, 36); 
  box-shadow: 0px 4px 10px rgb(231, 0, 0);
  font-family: sans-serif; 
  transition: opacity 0.3s ease; 
  z-index: 100;
}
.dropdown a{
  display: block; 
  padding: 10px;
  text-decoration: none; 
  color: black; 
}
.dropdown a:hover{
  background: white;
}
.navigation:hover{
  opacity: 1; 
  visibility: visible; 
}

.Nav{
  display: block;
  width: 200px; 
  height: 200px;  
  transition: transform 0.5s ease;
}
.nav-button:hover .Nav{
  transform: rotate(90deg);
}
.dropdown.show{
  opacity: 1; 
  visibility: visible; 
 
}

.SecondBusSvg{
    position: absolute;
    left: 10%; 
    top: 45%; 
    height: 150%;
    width: 150%;
}

.TTClogo{
   position: absolute;
   z-index: 1;
   height: 15%;
   bottom: 79%; 
   left: -10%;
   transform: 0.10s ease-in-out; 
}
.TTClogo:hover{
    transform: scale(1.2);
    
}
.Textbox1{
    
    width: 20%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 30%; 
    left: 5%; 
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family:'Poppins',sans-serif; 
    line-height: 1.6;
    
}

.Textbox3{
    
    width: 21%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 30%; 
    left: 29%; 
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif; 
    line-height: 1.6;
    
}
.Textbox4{
   
     width: 20%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 30%; 
    left: 55%; 
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family:'Poppins',sans-serif; 
    line-height: 1.6;
    
}
.Textbox6{
    width: 20%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 30%; 
    left: 80%; 
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family:'Poppins',sans-serif; 
    line-height: 1.6;
}
.Textbox5{
     
     width: 20%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 30%; 
    left: 105%; 
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family:'Poppins',sans-serif; 
    line-height: 1.6;
    
}

.InsidelookButton{
    width: 135px;
    height: 135px;
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 207, 36);
    border: none; 
    outline: black; 
    text-align: center;
    border-radius: 50%; 
    font-size: 20px; 
    font-weight: 800;
    position: absolute; 
    top: 40%; 
    left: 140%; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}
.InsidelookButton:hover{
    background-color: rgb(255, 207, 36);
    color: red;
}


@media (max-width: 393px) and (max-height: 852px ) and (orientation: portrait ){
   h1{
   background-color: rgb(231, 0, 0);
    color: white;
    text-align: center;
    padding: 2%;
    font-family: 'Poppins',sans-serif; 
    font-weight: 300vw;
    border-radius: 100vw;
    font-size: 8vw;
  }

body, html{
    background-color: black;
     cursor: url("../images/CursorIcon4.png") 102 102, pointer;
     overflow-y: hidden;
}
.dropdown a, .dropdown,.dropdown a:hover,.dropdown.show, .Nav, .nav-button, .nav-button:hover
, .nav-button:hover, .navigation, .navigation:hover,.TTClogo {
cursor: url("../images/CursorClick.png") 102 102, pointer;
}



.navigation{
  max-width: 41vw; 
  height: 48vw;  
  position: fixed; 
  bottom: 93.5%; 
  left: 27%; 
  z-index: 100;

}
.nav-button{
  background: none; 
  border: none;
  cursor: pointer; 
  padding: 5px; 
  display: flex; 
  align-items:center; 
  justify-content: center; 
}
.dropdown{
  opacity: 0; 
  visibility: hidden; 
  position: absolute; 
  top: 65%; 
  left: 25%; 
  background: rgb(255, 207, 36); 
  box-shadow: 0px 4px 10px rgb(231, 0, 0);
  font-family: sans-serif; 
  transition: opacity 0.3s ease; 
}
.dropdown a{
  display: block; 
  padding: 5px;
  text-decoration: none; 
  color: black; 
  font-size: 10px;
}
.dropdown a:hover{
  background: white;
}
.navigation:hover{
  opacity: 1; 
  visibility: visible; 
}

.Nav{
  transform: scale(0.4);
  transition: transform 0.5s ease;
}
.nav-button:hover .Nav{
  transform: rotate(90deg);
}
.dropdown.show{
  opacity: 1; 
  visibility: visible; 
 
}

.SecondBusSvg{
    position: absolute;
    left: -140%; 
    top: 5%; 
    height: 150%;
    width: 250%;
    transform: rotate(90deg);
   
}

.TTClogo{
   position: absolute;
   z-index: 1;
   height: 6%;
   bottom: 90.5%; 
   left: -67%;
}
.TTClogo:hover{
    transform: scale(1.2);
    
}
.Textbox1{
    font-family: 'Poppins',sans-serif; 
    position: absolute;
    width: 45%;
    top: 15%; 
    left: 40%; 
    color: white;
    font-size: 3vw;
    line-height: 1.7;
}

.Textbox3{
    
    width: 45%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 75%; 
    left: 40%; 
    color: white;
    font-size: 3vw;
    font-weight: 600;
    font-family: 'Poppins',sans-serif; 
    line-height: 1.6;
    
}
.Textbox4{
   
    width: 45%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 107%; 
    left: 40%; 
    color: white;
    font-size: 3vw;
    font-weight: 600;
    font-family: 'Poppins',sans-serif; 
    line-height: 1.6;
    
}
.Textbox6{
    width: 45%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 133%; 
    left: 40%; 
    color: white;
    font-size: 3vw;
    font-weight: 600;
    font-family: 'Poppins',sans-serif; 
    line-height: 1.6;
}
.Textbox5{
    width: 45%;
    position: absolute;
    padding: 5%; 
    padding-left: 5;
    top: 151%; 
    left: 40%; 
    color: white;
    font-size: 3vw;
    font-weight: 600;
    font-family: 'Poppins',sans-serif; 
    line-height: 1.6;
}
    


.InsidelookButton{
    max-width: 60px;
    height: 60px;
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 207, 36);
    border: none; 
    outline: black; 
    text-align: center;
    border-radius: 50%; 
     font-size: 10px; 
    font-weight: 800;
    position: absolute; 
    top: 185%; 
    left: 40%; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}
.InsidelookButton:hover{
    background-color: rgb(255, 207, 36);
    color: red;
}
}