 h1{
    font-family: 'Poppins',sans-serif; 
    color: white;
    background-color: rgb(231, 0, 0);
    text-align: center;
    padding: 4%;
    font-weight: 300px;
    border-radius: 100px;
    font-size: 40px;


}
body{
    background-color: black;
}
.Nav{
    position: fixed;
  bottom: 63%;  
  left: 85%; 
  height: 40%;

}
.header2{
    position: absolute;
    padding: 10px; 
    width: 15%; 
    background-color:  rgb(255, 207, 36);
    text-align: center;
    border-radius: 10%;
    top: 50%; 
    left: 50%; 
   
}
.Textbox1{
    border: 2px solid rgb(255, 255, 255); 
    width: 10%;
    position: absolute;
    padding: 10%; 
    padding-left: 10%;
    top: 50%; 
    left: 45%; 
    color: white;
    
}
.Textbox2{
    border: 2px solid rgb(255, 255, 255); 
    width: 10%;
    position: absolute;
    padding: 10%; 
    padding-left: 10%;
    top: 50%; 
    left: 78%; 
    color: white;
    
}
.Textbox3{
    border: 2px solid rgb(255, 255, 255); 
    width: 10%;
    position: absolute;
    padding: 10%; 
    padding-left: 10%;
    top: 50%; 
    left: 111%; 
    color: white;
    
}
.Textbox4{
    border: 2px solid rgb(255, 255, 255); 
    width: 10%;
    position: absolute;
    padding: 10%; 
    padding-left: 10%;
    top: 50%; 
    left: 144%; 
    color: white;
    
}
.Textbox5{
    border: 2px solid rgb(255, 255, 255); 
    width: 10%;
    position: absolute;
    padding: 10%; 
    padding-left: 10%;
    top: 50%; 
    left: 177%; 
    color: white;
    
}