h1{


    background-color: rgb(231, 0, 0);
    color: white;
    text-align: center;
    padding: 4%;
    font-family: 'Poppins',sans-serif; 
    font-weight: 300px;
    border-radius: 100px;
    font-size: 40px;
    /*.Option: Background image (background-image: url() */

}
.Nav{
  position: fixed;
  bottom: 63%;  
  left: 85%; 
  height: 40%;

}

body{
    background-color: black;
}

.Bus{ 
    
    width: 40%;
    padding: 10%; 
    padding-bottom: 30%;
    padding-right: 25%;
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
    color: white;
}
.busText{
   position: absolute;
   z-index: 1;
   height: 100%;
   top: 2%;
   left: -5%;
}

.Streetcar{
    border: 2px solid white; 
    width: 40%;
    display: flex;
    padding: 10%; 
    padding-bottom: 30%;
    padding-left: 25%;
    margin-left: 24%;
    margin-bottom: 5%;
    color: white;
    
}

.Subway{
     border: 2px solid rgb(255, 255, 255); 
    width: 55%;
    display: flex; 
    padding: 10%; 
   padding-bottom: 30%;
   color: white;
}
footer{
    padding: 5%;
    background-color: rgb(255, 207, 36);
    text-align: center;
    font-family: futura, sans-serif; 
    margin-top: 4%;

}
.button{
    padding: 10px; 
    color: black; 
    background-color: rgb(255, 207, 36);
    border: none; 
    outline: black; 
    border-radius: 40%; 
    font-size: 25px; 
    position: absolute; 
    right: 2%; 
    top: 75%; 
    transition-duration: 0.4s;
}
.button:hover{
    background-color: rgb(255, 207, 36);
    color: white;
}
.button2{
    color: rgb(255, 255, 255); 
    background-color: rgb(255, 207, 36);
    border: none; 
    outline: black; 
    border-radius: 20%; 
    font-size: 25px; 
    position: absolute; 
    right: 82%; 
    top: 170%; 
}/* button2, button3 are a placeholder for when the other 2 pages are made*/
.button3{
    color: rgb(255, 255, 255); 
    background-color: rgb(255, 207, 36);
    border: none; 
    outline: black; 
    border-radius: 20%; 
    font-size: 25px; 
    position: absolute; 
    right: 10%; 
    top: 250%; 
}
.st{
  position: absolute;
  top: 110%;  
  right: 0%;
  left: 5%;
  height: 90%;
  z-index: 2; 
}
/* st=svg of streetcar placeholder */ 
.describe1{
    padding: 5%; 
    border: 2px solid rgb(255, 0, 0); 
    position: absolute;
    margin-left: 77%;
    top: 40%; 
    color: white;
}
.describe2{
    padding: 10%; 
    border: 2px solid rgb(255, 0, 0); 
    position: absolute;
    margin-left: 2%;
    top: 120%; 
    color: white;
}
.describe3{
    padding: 10%; 
    border: 2px solid rgb(255, 0, 0); 
    position: absolute;
    margin-left: 77%;
    top: 210%; 
    color: white;
}
.Svg{
   position: absolute;
   height: 100%;
   top: 20%;
   left: -15%;
   z-index: 2;
}
.TTClogo{
    position: absolute;
   z-index: 1;
   height: 15%;
   bottom: 80%; 
   left: -10%;
}